$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$primary: rgb(230, 126, 34);
$dark: rgb(44, 62, 80);
$light: rgb(236, 240, 241);

html {
    width: 100%;
    height: 100%;
}

body {
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: $dark;
    background-color: $light;
/*    line-height: 1.4em;*/
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

h2:not(:last-child) {
    letter-spacing: 1px;
    color: $primary;
    font-size: 25px;
}

div {
    font-size: 16px;
}

a {
    color: $primary;
}

a:hover, a:focus {
    text-decoration: none;
    color: darken($primary, 20%);
}

.navbar {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    text-transform: uppercase;
    background-color: $dark;
}

.navbar-brand {
    font-weight: 700;
}

.navbar-brand:focus {
    outline: none;
}

/*
.navbar-custom a {
    color: $light;
}*/

.navbar-custom .nav li a {
    -webkit-transition: background .5s ease-in-out;
    -moz-transition: background .5s ease-in-out;
    transition: background .5s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: none;
    background-color: rgba (255,255,255,0.2);
}

.navbar-toggle {
    padding: 4px 6px;
    font-size: 18px; 
    color: $light;
    border: 1px solid $light;
}

.icon-bar {
    background-color: darken($light, 20%);
}

.skills .col-xs-8 {
    padding-left: 5px;
    padding-right: 0px;
}

.skills .col-xs-4 {
    padding-left: 0;
    padding-right: 0;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 767px) { 
    
.navbar {
        padding: 10px 0;
        border-bottom: none;
        background: transparent;
        -webkit-transition: background .7s ease-in-out, padding .7s ease-in-out;
        -moz-transition: background .7s ease-in-out, padding .7s ease-in-out;
        transition: background .7s ease-in-out, padding .7s ease-in-out;
    }
    
    .top-nav-collapse {
        padding: 0;
        opacity: 0.7;
        background-color: $dark;
    }
    
    .navbar-custon.top-nav-collapse {
        border-bottom: 1px solid rgba (255,255,255,0.2);
    }
    
    .jumbotron {
        background-image: url("../images/empire_state.jpg") !important;
        background-repeat: no-repeat !important;
        background-attachment: fixed !important;
        background-position: center !important; 
        background-size: 100% 100% !important;
    }
    
    h2:not(:last-child) {
        margin: 10px 0 35px !important;
        font-size: 30px !important;
    }
    
    .professional-experience h3, .academic-experience h3 {
        font-size: 25px !important;
    }
    
    .quote {
        font-size: 38px !important;
    }

    .quote-by {
        font-size: 22px !important;
    }
    
    .skills .col-xs-8 {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 991px) { 
    div {
        font-size: 18px;
    }
    
    .profile-image {
        height: 240px !important;
        width: 240px !important;
        padding: 2px;
    }
    
    .education-content {
      padding-top: 30px !important;
    }
    
    .amex-experience {
        margin-top:40px !important;
    }
    
    .columbia-experience {
        margin-left: 40px !important;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    div {
        font-size: 20px;
    }
    
    .profile-image {
        height: 270px !important;
        width: 270px !important;
    }
}

// Landing Page

.jumbotron {
    padding: 100px 0;
    width: 100%;
    background-color: transparent;
    color: $light;
    text-align: center;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

.jumbotron .container {
  position: relative;
  z-index: 4;
  text-align: center;
}

.jumbotron .overlay {
  background-color: $dark;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  opacity: 0.75;
  filter: alpha(opacity=75);
  z-index: 2;
}

section > .container > div {
    padding-top: 50px;
}

// Summary Section

#summary, #skills, #education, #experience, #contact {
    padding-top: 50px;
}

.profile-image {
    background-color: $dark;
    height: 200px;
    width: 200px;
    padding: 2px;
    margin-bottom: 30px;
}

// Skills Section

.skills {
    margin-top: 20px;
}

// Education Section

.main-education {
    margin-top: 20px;
 /*   background-image: url('../images/apple-macbook-classroom.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: 100% 100%;*/
}

.main-experience {
    margin-top: 40px;
}

.professional-experience h3, .academic-experience h3 {
    font-weight: 500 !important;
    margin-bottom: 40px;
    font-size: 25px;
}

.professional-experience h3 {
    margin-top: 0;
}

.academic-experience {
    display: none;
}

.professional-experience .row {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.professional-experience .row:not(:last-child) {
    margin-bottom: 50px;
}

.experience-duration {
    margin-top: 10px;
    display: inline-block;
}

.education-content {
    padding-top: 0;
}

.sub-education {
    margin-top: 50px;
}

.footer {
    background: $dark;
    color: $light;
    padding-bottom: 80px; 
}

.footer h2 {
    color: $light;
}

ul {
    list-style-type: none;
}

.summary li {
    margin-bottom: 10px;
    list-style-position: inside;
    text-indent: -1em;
    padding-left: 1em;
}

/*
.container li:before {
  position: absolute;
  top: 0;
  left: 0;
  font-family: FontAwesome;
  content: "\f1b2";
}*/

.page-scroll {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -webkit-transform;
    -moz-transition-duration: 1s;
}

.quote-section {
    font-family: 'Niconne', cursive;
}

.lineart {
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    margin-top: 5px;
    margin-bottom: 40px;
    background-image: url("../images/line-art-new.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px;
    
}

.quote {
    font-size: 28px;
    padding-bottom: 20px;
}

.quote-by {
    font-size: 18px;
}

.section-divider {
    background-color: rgb(44,62,80);
    height: 1px;
}

.container-bg {
    padding-bottom: 40px;
    background: -webkit-linear-gradient($light 90%, darken($light, 10%)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient($light 90%, darken($light, 10%)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient($light 90%, darken($light, 10%)); /* For Firefox 3.6 to 15 */
    background: linear-gradient($light 90%, darken($light, 10%));
}

.icon-pad {
    padding-right: 20px;
}

.rating-color {
    color: $primary;
}

.skill-set > div > div {
    margin-bottom: 15px;
    padding-bottom: 15px;
}


.text-center {
    margin-top: 40px;
}

.horizontal-center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 20px;
}

#contact h2 {
    margin-top: 0;
}
